<!DOCTYPE html>
<html>
  <head>
    <title>Quiz Page</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <header class="row">
      <div class="col-3">
      
      </div>
      </div>
      <div class="col-4 slogan">
      <%= link_to 'Bender\'s Worst Fanpage', root_path, class: 'navbar-brand' %>
      </div>
      <div class="col-5 link">
        <%= link_to 'Episodes of Futurama', episodes_path, class: 'navbar-brand' %>
      </div>
    </header>

    <br class="clear" />
     <% if flash[:error].present? %>
    <div class="col-10 offset-1 alert alert-danger">
      <%= flash[:error].html_safe %>
    </div>
  <% end %>
    <%= yield %>
    
<%= image_tag("bender.png", :alt => "rss feed") %>


  </body>


</html> 

